@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    UCI Division of Continuing Education<br />
    510 E Peltason Dr.<br />
    Irvine, CA 92697<br />
    <abbr title="Phone">P:</abbr>
    949.824.5414
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
