@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align: center">
       <div class="container">
           <h1>ASP.NET Snippets</h1>
           <h2>ASP.NET Filter and CRUD Web Application</h2>
       </div>
</div>
